{{blok._editable}}
<div class="candidates-strip">
    <div class="container">
        <div class="candidates-strip__wrapper">
            <h6 class="candidates-strip__keyword">Jobs</h6>
            <h2 class="candidates-strip__title"><strong>Ten HR</strong> Candidates</h2>
            <p><a href="/about-us">Returning Candidates</a></p>
            <p><a href="/about-us">New Candidates</a></p>
            <p><a class="button button--primary" href="/">See all jobs</a></p>
        </div>
    </div>
</div>
{% include style.html blok=blok %}