{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
{% assign current_year = "now" | date: "%Y"%}
{% if include.min.size > 0 %}
{%assign min = include.min%}
{% else %}
{%assign min = 17%}
{%endif%}
{% if include.max.size > 0%}
{% assign max =include.max %}
{% else %}
{% assign max = 100%}
{%endif%}
{% assign first_year = current_year | minus: max %}
{% assign min_year = current_year | minus: min %}
<label for={{slug}} class="field__label">{{label}}</label>
<div class="field__date-wrapper" data-min="{{min}}" data-max="{{max}}">
    <select name="{{slug}}_day" required="{{-input.required-}}" id="{{slug}}_day"
        class="field__input field__input--select" data-parsley-group="{{include.fieldset}}" {%if include.store%}
        data-store="true" {%endif%}>>
        <option selected disabled>Day</option>
        {% for i in (1..31)%}
        <option value="{{i| prepend: '00' | slice: -2, 2 }}">{{i| prepend: '00' | slice: -2, 2 }}</option>
        {%endfor%}
    </select>
    <select name="{{slug}}_month" required="{{-input.required-}}" id="{{slug}}_month"
        class="field__input field__input--select" data-parsley-group="{{include.fieldset}}" {%if include.store%}
        data-store="true" {%endif%}>>
        <option selected disabled>Month</option>
        <option value="01">Jan</option>
        <option value="02">Feb</option>
        <option value="03">Mar</option>
        <option value="04">Apr</option>
        <option value="05">May</option>
        <option value="06">Jun</option>
        <option value="07">Jul</option>
        <option value="08">Aug</option>
        <option value="09">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
    </select>

    <select name="{{slug}}_year" required="{{-input.required-}}" id="{{slug}}_year"
        class="field__input field__input--select" data-parsley-group="{{include.fieldset}}" {%if include.store%}
        data-store="true" {%endif%}>
        <option selected disabled>Year</option>
        {% for i in (first_year..min_year)%}
        <option value="{{i}}">{{i}}</option>
        {%endfor%}
    </select>
</div>