{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}

<div class="field__input-wrap"><input type="text" id="field_postcode_lookup" name="postcode"
                required="{{-input.required-}}" class="field__input field__input--postcode{% if include.non_floating_label == true%} field__input--non-floating{%endif%}"
                placeholder="{{-include.placeholder-}}" data-parsley-group="{{include.fieldset}}">
        <label for={{slug}} class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">{{label}}</label>
</div>
{%- if include.helptext.size > 0 -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}
<div class="form__field form__field--address" style="display:none;">
        <input name="address" type="text" required class="field__input{% if include.non_floating_label == true%} field__input--non-floating{%endif%}" data-parsley-group="{{include.fieldset}}"
                id="{{slug}}-line1">
        <label for="{{slug}}-line1" class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">Line 1</label>
</div>
<div class="form__field form__field--address" style="display:none;"><input name="address2" id="{{slug}}-line2"
                type="text" class="field__input{% if include.non_floating_label == true%} field__input--non-floating{%endif%}" data-parsley-group="{{include.fieldset}}">
        <label for="{{slug}}-line2" class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">Line 2</label>
</div>
<div class="form__field form__field--address" style="display:none;"><input name="city" id="{{slug}}-towncity"
                type="text" required class="field__input{% if include.non_floating_label == true%} field__input--non-floating{%endif%}" data-parsley-group="{{include.fieldset}}">
        <label for="{{slug}}-towncity" class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">Town/city</label>
</div>
<div class="form__field form__field--address" style="display:none;"><input name="county" id="{{slug}}-county"
                type="text" class="field__input{% if include.non_floating_label == true%} field__input--non-floating{%endif%}" data-parsley-group="{{include.fieldset}}">
        <label for="{{slug}}-county" class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">County</label>
</div>

<script>
        window.postJqueryScripts.push("https://webservices.data-8.co.uk/javascript/predictiveaddress.js");
        if (document.createStyleSheet) {
                document.createStyleSheet("https://webservices.data-8.co.uk/content/predictiveaddress.css");
        } else {
                var address = document.createElement('link');
                address.rel = 'stylesheet';
                address.href = 'https://webservices.data-8.co.uk/content/predictiveaddress.css';
                address.type = 'text/css';
                var defer = document.getElementsByTagName('link')[0];
                defer.parentNode.insertBefore(address, defer);
        }
</script>