{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
<label for={{slug}} class="field__label">{{label}}</label>
{%- if include.helptext.size > 0 -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}
<div class="field__radios field__radios--items_{{include.options.size}}">
    {%- for option in include.options -%}
    {%- capture radio_id -%}{{include.form_name | slugify}}_{{slug}}_{{option.value | slugify}}{%-endcapture-%}
    <div class="field__radio-item"><input type="checkbox" name="{{slug}}" value="{{option.value}}" id="{{-radio_id-}}"
            {%if include.required%} data-parsley-multiple="{{slug}}" required data-parsley-mincheck="1"{%endif%} class="field__radio-input"
            data-parsley-group="{{include.fieldset}}"><label class="field__radio-label"
            for="{{-radio_id-}}">{%if option.image.filename.size > 0 %}<span style="background-image: url({{option.image.filename}})" class="field__radio-icon"></span>{%endif%}{{-option.title-}}</label>
    </div>
    {%- endfor -%}
</div>