{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}

<input type="text" name="{{slug}}" required="{{- input.required -}}" class="field__input{% if include.non_floating_label == true%} field__input--non-floating{%endif%}"
placeholder="{{- include.placeholder -}}" id="{{slug}}" data-parsley-group="{{include.fieldset}}">
<label for={{slug}} class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">{{label}}</label>
{%- if include.helptext.size > 0 -%}
<p class="field__helptext">{{- include.helptext -}}</p>
{%- endif -%}
{%-capture data_name-%}"/data/{{- include.options[0].name -}}.json"{%-endcapture-%}
{%-capture id-%}"#{{slug}}"{%-endcapture-%}
<script>
    window.postJqueryScripts.push(["/js/src/bootstrap3-typeahead.min.js", '$.get({{ data_name }}, function (data) {data = data.filter(function (value, index, self) {return self.indexOf(value) === index;});$({{ id }}).typeahead({ source: data });}, "json");'])
</script>