{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
{% if include.type %}
{%assign field_type = include.type%}
{%else%}
{%assign field_type = "text"%}
{%endif%}
<input type="{{field_type}}" id="{{slug}}" name="{{slug}}" required="{{-input.required-}}" class="field__input{% if include.non_floating_label == true%} field__input--non-floating{%endif%}"
placeholder="{{-include.placeholder-}}" data-parsley-group="{{include.fieldset}}"{%if include.autocomplete%}autocomplete="{{include.autocomplete}}"{%endif%}{%if include.min.size > 0%} minlength="{{include.min}}"{%endif%}>
<label for={{slug}} class="field__label {% unless include.non_floating_label == true%} field__label--floating{%endunless%}">{{label}}</label>
{%- if include.helptext.size > 0 -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}