{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
<label for={{slug}} class="field__label">{{label}}</label>
{% if include.type %}
{%assign field_type = include.type%}
{%else%}
{%assign field_type = "text"%}
{%endif%}
<select name="{{slug}}" required="{{-input.required-}}" id="{{slug}}"
    class="field__input field__input--select field__input--house-price{% if include.non_floating_label == true%} field__input--non-floating{%endif%}" data-parsley-group="{{include.fieldset}}"{%if include.store%} data-store="true"{%endif%}>
    <option selected disabled>Please choose</option>
    {% for price in site.data.house_prices %}
    {% assign price_num = price | replace: '£', "" | replace: ",", "" | plus: 0 %}
    {% assign min = include.min | plus: 0%}
    {% if include.min %}
    {% if price_num >= min %}
    <option value="{{price_num}}">{{price}}</option>
    {% endif %}
    {% else %}
    <option value="{{price_num}}">{{price}}</option>
    {% endif %}


    {% endfor %}
</select>
{%- if include.helptext.size > 0 -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}
