{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
<input type="email" id="{{slug}}" name="{{slug}}" required="{{-input.required-}}" class="field__input field__input--email d8val_email{% if include.non_floating_label == true%} field__input--non-floating{%endif%}"
placeholder="{{-include.placeholder-}}" data-parsley-type="alphanum" d8validationlevel="address">
<label for={{slug}} class="field__label{% unless include.non_floating_label == true%} field__label--floating{%endunless%}">{{label}}</label>
<span class="shroud"></span>
{%- if include.helptext.size > 0 -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}