<div class="header header--advertorial">
        <div class="container">
                <div class="header__wrapper">
                        <a href="/" class="header__logo" title="{{site.title}}">
                                {%-assign type = site.logo | slice: -3, 3-%}
                                {% if type == "svg" %}
                                <img data-src="{{site.logo}}" alt="{{site.title}}" src="/images/transparent.png"
                                        class="lazyload" />
                                {% else %}
                                {%- include picture.html url=site.logo alt=site.title type="png"-%}
                                {% endif %}
                        </a>
                        <div class="header__main"><p class="header__text">{{include.header_text}}</p><p class="header__advertorial">Advertorial</p></div>
                        <a href="{{include.link.url}}" class="button">{{include.header_button_text}}</a>
                </div>
        </div>
</div>
<div id="cookies-eu-banner" style="display: none;" class="cookie-banner">
        <div class="container">
                <div class="cookie-banner__wrapper">
                        <p class="cookie-banner__text">By continuing your visit to this site, you accept the use of
                                cookies by Google
                                Analytics to make visits statistics. <a href="/privacy-policy" id="cookies-eu-more">Read our
                                        Privacy Policy</a></p>
                        <div class="cookie-banner__buttons">
                                <button id="cookies-eu-reject"
                                        class="button button--small button--reject">Reject</button>
                                <button id="cookies-eu-accept"
                                        class="button button--small button--accept">Accept</button>
                        </div>
                </div>
        </div>
</div>