<div class="header{% unless include.hide_nav == true %} header--has-nav{% endunless %}">
    <div class="container">
        <div class="header__wrapper">
            <a href="/" class="header__logo" title="{{site.title}}">
                {%-assign type = site.logo | slice: -3, 3-%}
                {% if type == "svg" %}
                    <img data-src="{{site.logo}}" alt="{{site.title}}" src="/images/transparent.png" class="lazyload"/>
                {% else %}
                    {%- include picture.html url=site.logo alt=site.title type="png"-%}
                {% endif %}
            </a>
            {% unless include.hide_nav == true %}
                <nav class="header__nav hidden-on-load">
                    {%- for item in include.nav -%}
                        {%- if item.link.url.size > 0 -%}
                            {%- assign link = item.link.url -%}
                        {%- else -%}
                            {%- assign link = item.link.cached_url -%}
                        {%- endif -%}
                        {%- assign first_char = link | slice: 0 -%}
                        {%- if item.link.linktype != "url" and first_char != "/" -%}
                            {%- capture link -%}/{{link}}
                            {%- endcapture -%}
                        {%- endif -%}
                        {%- if link == "/home" -%}
                            {%- assign link = "/" -%}
                        {%- endif -%}
                        <div class="header__nav-item first">
                            <a href="{{link}}">{{item.link_text}}</a>
                        </div>
                    {%- endfor -%}
                </nav>
                <div class="header__menu-icon">
                    <span class="header__menu-icon-inner"></span>
                    <span class="header__menu-icon-inner"></span>
                    <span class="header__menu-icon-inner"></span>
                </div>
            {% endunless %}
        </div>
    </div>
</div>