{{blok._editable}}
<div class="header-image">
    {% for slide in blok.slides %}
        <div class="header-image__slide{% if forloop.first %} header-image__slide--active{% endif %}">
            <div class="container">
                <div class="header-image__slide-inner">
                    <div class="header-image__slide-content">
                        {{slide.content | markdownify }}
                    </div>
                    <div class="header-image__slide-image">
                        {% include picture.html url=slide.image.filename %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% include style.html blok=blok %}