{{blok._editable}}
<div class="router">
    <div class="container">
        <div class="router__wrapper">
            <div class="router__content">{{ blok.pre_text | markdownify }}</div>
            <div class="router__inner">
                {% for question in blok.questions %}
                {% assign slug = question.text | slugify %}
                <div class="router__question{% if forloop.last == true%} router__question--last{%endif%}"
                    data-index="{{forloop.index0}}">
                    <label class="router__question-text">{{question.text}}</label>
                    <div class="router__radios">
                        {% for option in question.options %}
                        {% capture option_id%}{{slug}}_{{option.value | slugify}}{% endcapture %}
                        <div class="router__radio-item">
                            <input type="radio" name="{{slug}}" value="{{option.value}}" id="{{option_id}}"
                                class="router__radio-input">
                            <label class="router__radio-label" for="{{option_id}}">{%if option.image.filename.size > 0
                                %}<span style="background-image: url({{option.image.filename}})"
                                    class="router__radio-icon"></span>{%endif%}{{-option.title-}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="router__answers">
                    <div class="router__answers-pre-text">
                        {{ blok.results_pre_text | markdownify }}
                    </div>
                    <div class="router__answers-internal-pretext">{{blok.non_featured_results_pre_text | markdownify}}
                    </div>
                    {% for answer in blok.answers %}
                    <div class="router__answer{%if answer.featured == true%} router__answer--featured{%endif%}"
                        data-condition="{{answer.condition}}">
                        {%- if answer.link.url.size > 0 -%}
                        {%- assign link = answer.link.url -%}
                        {%- else -%}
                        {%- assign link = answer.link.cached_url -%}
                        {%- endif -%}
                        {%- assign first_char = link | slice: 0 -%}
                        {%- if answer.link.linktype != "url" and first_char != "/" -%}
                        {%- capture link -%}/{{link}}{%- endcapture -%}
                        {%- endif -%}
                        <a href="{{link}}" target="_blank" rel="noopener{% if answer.link.linktype != " url"%}
                            external{%endif%}" class="router__answer-link">
                            <div class="router__answer-inner">
                                {%if answer.icon.filename.size > 0
                                %}<span style="background-image: url({{answer.icon.filename}})"
                                    class="router__answer-icon"></span>{%endif%}
                                <div class="router__answer-text">
                                    {{answer.text | markdownify }}
                                    <span class="router__answer-span-link">{%if
                                        answer.link_text.size>0%}{{answer.link_text}}{%else%}Find out
                                        more{%endif%}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.postJqueryScripts.push("/js/src/router.js")
    window.addEventListener("hashchange", function () {
        console.log("Hash changed to", window.location.hash);
        if (window.location.hash == '') {
            resetRouterForm();
        }
    });
</script>
{% include style.html blok=blok%}