{{blok._editable}}
<div class="text-strip {% if blok.bg_img.filename.size> 0 %}text-strip--bg-image{% endif %}" {% if blok.bg_img.filename.size> 0 %} style="background-image: url('{{blok.bg_img.filename}}')" {% endif %}>
    <div class="container">
        <div class="text-strip__wrapper">
            <div class="text-strip__text text-strip__text-left cms_content">
                {% assign text_left = blok.text_left | markdownify %}
                {% assign text_left = text_left | replace: '<img src="', '<img class=" lazyload" src="/images/transparent.png"
                    data-src="' | replace: '.png"', '.png/m/"' | replace: '.jpg"', '.jpg/m/"' | replace: '.svg"', '.svg/m/"' %}
                {{text_left}}
            </div>
            {% if blok.text_right.size > 0 %}
                <div class="text-strip__text text-strip__text-right cms_content">
                    {% assign text_right = blok.text_right | markdownify %}
                    {% assign text_right = text_right | replace: '<img src="', '<img class=" lazyload" src="/images/transparent.png"
                    data-src="' | replace: '.png"', '.png/m/"' | replace: '.jpg"', '.jpg/m/"' | replace: '.svg"', '.svg/m/"' %}
                    {{text_right}}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% include style.html blok=blok %}