.contact-strip {
  background-color: var(--colour-primary);
  color: #fff;
  position: relative;
  padding: 50px 0;
  @include in_size($sm) {
    padding: 100px 0;
    &:before {
      content: "";
      display: block;
      width: 180px;
      height: 100%;
      background-color: var(--colour-secondary);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after {
      content: "";
      background-image: url("/images/arrows.png");
      transform: rotate(180deg);
      position: absolute;
      right: 50px;
      top: 20%;
      height: 100%;
      width: 25%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__wrapper {
      position: relative;
      z-index: 2;
      padding-left: 50px;
    }
  }
  &__keyword {
    text-transform: uppercase;
  }
  &__title {
    font-family: var(--font-primary);
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 0.9;
    margin: 10px 0 0;
    strong {
      display: block;
      font-family: var(--font-secondary);
    }
    @include in_size($xs) {
      font-size: 52px;
    }
  }
  &__form {
    @include in_size($sm) {
      flex: 0 1 65%;
      margin-top: -50px;
      &-wrapper {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.form {
  &.submitting {
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.8;
      z-index: 3;
    }
  }
  &__field {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    + .form__field {
      margin-top: 15px;
    }
  }
}

.field {
  &__input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 25px 10px 5px;
    font-size: 18px;
    font-family: var(--font-tertiary);
    color: #fff;
    width: 100%;
    &.parsley-error,
    &.error {
      border-color: var(--colour-error);
    }
    &:focus::placeholder {
      opacity: 1;
    }
    &:focus,
    &:valid,
    &.error {
      ~ .field__label--floating {
        transform: translateY(0px) scale(0.7);
      }
    }
    &[type="file"] {
      font-size: 14px;
    }
  }
  &__label {
    display: block;
    order: 1;
    flex: 0 1 100%;
    font-family: var(--font-primary);
    color: var(--colour-text-primary);
    position: absolute;
    font-size: 16px;
    left: 11px;
    cursor: text;
    top: 0;
    &--floating {
      top: 3px;
      font-size: 19px;
      transform: translateY(13px);
      transform-origin: left center;
      transition: var(--transition);
    }
  }
}
