.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: var(--colour-light-grey);
    padding: 30px 0;
    border-top: 2px solid var(--colour-mid-grey);
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__text {
      padding-right: 30px;
    }
    a {
      color: var(--text-accent);
    }
    @include in_size($sm-only) {
      .button {
        width: 100%;
        margin: 5px 0;
      }
    }
    @include in_size($md-only) {
      .button {
        width: 100%;
        margin: 5px 0;
      }
    }
    @include in_size($xs) {
      padding: 10px 0 20px;
      &__wrapper {
        flex-wrap: wrap;
      }
    }
  }
  