@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.router {
  padding: 40px 0;
  background-color: var(--router-bg-colour);
  &__content {
    text-align: center;
    *:first-child {
      margin-top: 0;
    }
    p {
      @include in_size($md) {
        padding: 0 100px;
      }
    }
  }
  &__wrapper {
    border: 1px solid var(--colour-border);
    padding: 40px 25px;
    background: #fff;
    @include in_size($md) {
      max-width: 64%;
      margin: 0 auto;
    }
    @include in_size($xs) {
      padding: 25px 15px;
    }
    &.results {
      .router {
        &__content {
          display: none;
        }
        &__inner {
          padding: 0;
          margin: 0;
          border: none;
        }
      }
    }
  }
  &__inner {
    border-top: 1px solid var(--colour-border);
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
    @include in_size($md){
      padding-left: 100px;
      padding-right: 100px;
    }
    &.loading {
      &:before {
        content: "Finding suitable products";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: -1%;
        width: 102%;
        height: 100%;
        background: #fff;
        font-size: 25px;
        font-weight: var(--font-weight-bold);
        z-index: 10;
        text-align: center;
        @include in_size($xs) {
          left: -2%;
          width: 104%;
          align-items: flex-start;
          padding-top: 140px;
        }
      }
      &:after {
        content: "";
        border: 10px solid var(--colour-mid-grey);
        border-bottom-color: var(--colour-secondary);
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        height: 50px;
        animation: spinner 0.6s linear infinite;
        z-index: 11;
        @include in_size($xs) {
          top: 40px;
        }
      }
    }
  }
  &__question {
    + .router__question {
      margin-top: 30px;
    }
    &-text {
      text-align: center;
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: var(--form-label-font-weight);
      color: var(--colour-text-primary);
    }
  }
  &__radio-input {
    position: absolute;
    left: -9999px;
    &[type="radio"] {
      + .router__radio-label {
        &:before {
          width: 14px;
          height: 14px;
          bottom: 20.5px;
          right: 14px;
          border: none;
          border-radius: 50%;
          background: var(--form-input-active-bg);
        }
      }
    }
    &:checked {
      + .router__radio-label {
        background: var(--form-input-active-bg);
        color: var(--form-input-active-text);
      }
    }
  }
  &__radios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -8px -8px 0;
  }
  &__radio-item {
    flex: 1 1 (100%/3);
    padding: 8px;
    @include in_size($xxs) {
      flex: 1 1 50%;
    }
    @include in_size($xxxs) {
      flex: 1 1 100%;
    }
  }
  &__radio-label {
    box-shadow: 0 4px 8px 1px var(--box-shadow-color);
    padding: 25px 12px;
    font-size: 35px;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    font-weight: var(--form-label-font-weight);
    position: relative;
    transition: var(--transition);
    cursor: pointer;
    text-align: center;
    color: var(--router-radio-text);
    border: 3px solid var(--router-radio-border);
    background: var(--router-radio-bg);
    &:hover {
      background: var(--router-radio-active-bg);
      color: var(--router-radio-active-text);
    }
    span {
      &:before {
        content: attr(data-icon url);
      }
    }
  }
  &__radio-icon {
    width: 40%;
    margin: 0 auto 10px;
    display: block;
    padding-top: 40%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include in_size($xxxs) {
      width: 30%;
      padding-top: 30%;
    }
  }
  &__answers {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -8px 0;
    justify-content: center;
    &-internal-pretext {
      display: none;
      order: 2;
      text-align: center;
      flex: 0 1 100%;
      *:last-child {
        margin-bottom: 5px;
      }
    }
    &.visible {
      .router {
        &__answers {
          &-internal-pretext {
            display: block;
          }
          &-pre-text {
            display: block;
          }
        }
      }
    }
    &-pre-text {
      flex: 0 0 100%;
      display: none;
      text-align: center;
      h3,
      h4 {
        margin: 0;
        + p {
          margin-top: 10px;
        }
      }
    }
  }
  &__answer {
    flex: 1 1 (100%/3);
    padding: 8px;
    display: none;
    order: 3;
    max-width: 50%;
    @include in_size($xs) {
      flex: 1 1 50%;
    }
    @include in_size($xxs) {
      flex: 1 1 100%;
    }
    &-link {
      display: block;
      height: 100%;
      color: var(--colour-text-secondary);
    }
    &-inner {
      box-shadow: 0 4px 8px 1px var(--box-shadow-color);
      color: var(--router-answer-text);
      border: 3px solid var(--router-answer-border);
      background: var(--router-answer-bg);
      padding: 15px 12px;
      width: 100%;
      display: inline-block;
      border-radius: 4px;
      height: 100%;
      position: relative;
      transition: var(--transition);
      &:hover {
        color: var(--router-answer-hover-text);
        border-color: var(--router-answer-hover-border);
        background: var(--router-answer-hover-bg);
      }
      h4 {
        color: inherit;
        min-height: 44px;
        margin-bottom: 0;
      }
      p {
        min-height: 42px;
      }
    }
    &-text {
      padding-top: 10px;
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
    &-span-link {
      text-decoration: underline;
      font-weight: var(--font-weight-extra-bold);
    }
    &-icon {
      width: 40%;
      margin: 0 auto 10px;
      display: block;
      padding-top: 40%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include in_size($xxxs) {
        width: 30%;
        padding-top: 30%;
      }
    }
    @include in_size($xxs) {
      .router {
        &__answer {
          &-flag {
            position: absolute;
            top: -23px;
            left: 0;
            font-size: 16px;
          }
          &-text {
            flex: 0 1 100%;
          }
          &-icon {
            flex: 0 1 25%;
            width: auto;
            padding-top: 25%;
          }
          &-inner {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
    &--featured {
      flex: 0 1 100%;
      order: 1;
      max-width: none;
      .router {
        &__answer {
          &-flag {
            position: absolute;
            top: -23px;
            left: 0;
            font-size: 16px;
          }
          &-text {
            padding-left: 25px;
            @include in_size($xs) {
              padding-left: 0;
            }
          }
          &-icon {
            flex: 0 1 25%;
            width: auto;
            padding: 0;
            @include in_size($xs) {
              padding-top: 25%;
            }
          }
          &-inner {
            display: flex;
            color: var(--router-answer-featured-text);
            border: 3px solid var(--router-answer-featured-border);
            background: var(--router-answer-featured-bg);
            h4,
            p {
              min-height: 0;
            }
            p {
              @include in_size($md) {
                padding-right: 95px;
              }
            }
            &:after {
              content: "\f054";
              font-family: "icomoon" !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;

              /* Better Font Rendering =========== */
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              width: 40px;
              height: 40px;
              font-size: 25px;
              background: var(--router-answer-featured-arrow-bg);
              color: var(--router-answer-featured-arrow-text);
              display: inline-flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              right: 30px;
              margin-top: -20px;
              transition: var(--transition);
            }
            &:hover {
              color: var(--router-answer-featured-hover-text);
              border-color: var(--router-answer-featured-hover-border);
              background: var(--router-answer-featured-hover-bg);
              &:after {
                background: var(--router-answer-featured-hover-arrow-bg);
                color: var(--router-answer-featured-hover-arrow-text);
              }
            }
          }
        }
      }
    }
  }
}
