.table-strip {
  padding: 40px 0;
}

.table {
  width: 100%;
  border-spacing: 0px;
  box-shadow: 0 2px 28px 0 rgba(#373837, 0.1);
  &__head,
  &__cell {
    padding: 15px 25px;
    text-align: left;
  }
  &__head {
    background: var(--table-head-bg);
    color: var(--table-head-text);
    &:first-child {
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
    }
  }
  &__cell {
    border-top: 1px solid var(--colour-border);
    border-bottom: 1px solid var(--colour-border);
    &:first-child {
      border-left: 2px solid var(--colour-border);
    }
    &:last-child {
      border-right: 2px solid var(--colour-border);
    }
  }
  &__tbody {
    .table {
      &__row {
        &:nth-child(even) {
          background: var(--colour-light-grey);
        }
        &:last-child {
          .table {
            &__cell {
              border-bottom-width: 2px;
              &:first-child {
                border-bottom-left-radius: 4px;
              }
              &:last-child {
                border-bottom-right-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
  @include in_size($xs) {
    display: block;
    box-shadow: none;
    &__thead {
      display: none;
    }
    &__tbody {
      display: block;
    }
    &__row {
      display: block;
      margin: 25px 0;
      box-shadow: 0 2px 28px 0 rgba(#373837, 0.1);
      &:nth-child(even) {
        background: #fff !important;
      }
    }
    &__cell {
      display: block;
      width: 100%;
      position: relative;
      padding-left: calc(50% + 15px);
      border: 1px solid var(--colour-border) !important;
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &:nth-child(even) {
        background: var(--colour-light-grey);
      }
      &:before {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        padding: 15px;
        color: var(--colour-text-primary);
        font-weight: var(--font-weight-extra-bold);
      }
    }
  }
}