.team-strip {
  background-color: var(--colour-secondary);
  color: #fff;
  padding: 100px 0 200px;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 80px;
    height: 100%;
    background-color: var(--colour-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    background-color: var(--colour-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  &__wrapper {
    position: relative;
    z-index: 2;
    padding-left: 100px;
    &:before {
      content: "The Team";
      font-family: var(--font-secondary);
      font-size: 150px;
      opacity: 0.1;
      position: absolute;
      transform: rotate(-20deg);
      text-transform: uppercase;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
      z-index: -1;
      color: var(--colour-secondary);
    }
  }
  &__keyword {
    text-transform: uppercase;
  }
  &__title {
    font-family: var(--font-primary);
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 0.9;
    margin: 10px 0 40px;
    strong {
      display: block;
      font-family: var(--font-secondary);
      color: var(--colour-tertiary);
    }
  }
  a:not(.button) {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    &:hover {
      color: var(--colour-primary);
    }
  }
  .button {
    margin-top: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
  }
  &__item {
    flex: 0 1 33%;
    padding: 0 15px;
    &-title {
      color: var(--colour-primary);
      font-size: 18px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 20px;
      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &-content {
      font-family: var(--font-primary);
      font-size: 20px;
    }
  }
}
