.text-strip {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  //background: var(--colour-secondary);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      justify-content: start !important;
    }
  }
  &__text {
    color: #fff;
    @include content_styles;
    &-left {
      flex: 0 1 40%;
      padding-right: 40px;
    }
    &-right {
      flex: 0 1 60%;
      padding-left: 100px;
    }
    h1 {
      font-size: var(--h1-font-size-text-strip, 60px);
    }
    h2 {
      font-size: 50px;
      strong {
        color: var(--colour-tertiary);
      }
    }
  }
  @include in_size($xs) {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__text {
      padding-right: 0 !important;
      flex: 0 1 100%;
      max-width: 100%;
    }
  }
}
