.text-strip {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  background-position: right center;
  background-size: 60% auto;
  background-repeat: no-repeat;
  z-index: 2;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      justify-content: start !important;
    }
  }
  &__text {
    color: #fff;
    @include content_styles;
    &-left {
      flex: 0 1 40%;
      padding-right: 40px;
      background-color: var(--colour-secondary);
      position: relative;
      &:before {
        content: "";
        height: 100%;
        display: block;
        right: 100%;
        width: 40%;
        top: 0;
        position: absolute;
        background-color: var(--colour-secondary);
      }
    }
    &-right {
      flex: 0 1 60%;
      padding-left: 100px;
      p {
        font-family: var(--font-primary);
        font-size: 20px;
      }
    }
    h1 {
      font-size: var(--h1-font-size-text-strip, 60px);
    }
    h2 {
      font-size: 50px;
      strong {
        color: var(--colour-tertiary);
      }
    }
    h4 {
      font-family: var(--font-primary);
      font-size: 30px;
      margin: 0 0 15px;
    }
  }
  @include in_size($xs) {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__text {
      padding-right: 0 !important;
      flex: 0 1 100%;
      max-width: 100%;
    }
  }
}
